/**
 * Layouts
 */
.speekr-layout-grid,
.speekr-layout-mixed {
  display: flex;
  flex-wrap: wrap;
  margin: 1em -20px; }
  .speekr-layout-grid .talks.talks,
  .speekr-layout-mixed .talks.talks {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border: 0;
    margin: 1em 0;
    padding: 20px;
    box-shadow: none; }
    .speekr-layout-grid .talks.talks .talk-inner,
    .speekr-layout-mixed .talks.talks .talk-inner {
      display: flex;
      flex-direction: column; }
  .speekr-layout-grid .talk-links,
  .speekr-layout-mixed .talk-links {
    margin-top: auto; }

.speekr-layout-mixed .talks.talk-featured {
  display: block;
  flex-basis: 100%; }
  .speekr-layout-mixed .talks.talk-featured .talk-media img {
    width: 100%;
    height: auto; }
  .speekr-layout-mixed .talks.talk-featured .talk-summ-container {
    display: flex;
    flex-direction: row; }
  .speekr-layout-mixed .talks.talk-featured .talk-meta-n-summ {
    padding-right: 25px;
    flex-basis: 70%; }
  .speekr-layout-mixed .talks.talk-featured .talk-links {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: 0 none;
    margin-top: 0;
    flex-basis: 30%; }
  .speekr-layout-mixed .talks.talk-featured .talk-link {
    margin-right: auto; }
  .speekr-layout-mixed .talks.talk-featured .talk-link-more {
    margin-left: 0;
    margin-top: 1em; }

/**
 * Talks list.
 */
.speekr-talks-list * {
  box-sizing: border-box; }

.speekr-talks-list .talk-title {
  margin: 1em 0 .5em;
  font-size: 1.6em; }

.speekr-talks-list .talk-summary {
  font-size: 1em;
  margin: 1em 0 1.5em; }
  .speekr-talks-list .talk-summary p:first-child {
    margin-top: 0; }

/**
 * Talks Medias
 */
.talk-media-container {
  line-height: 0.8; }

.talk-media.talk-iframe {
  position: relative;
  width: 100%;
  height: 0; }

.talk-media img {
  max-width: 100%;
  height: auto; }

.talk-media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

/**
 * Talks Metadata
 */
.talk-metadatas .talk-place,
.talk-metadatas .talk-sep,
.talk-metadatas .talk-time {
  display: inline-block;
  font-size: .875em;
  margin: 0;
  font-style: italic; }

/**
 * Talks links
 */
.talk-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: -.2em;
  margin-right: -.2em;
  padding-top: .75em;
  border-top: 1px solid #DDD; }
  .talk-links .talk-link {
    display: inline-block;
    padding: 8px 15px;
    margin: .2em;
    border: 0 none;
    font-weight: 500;
    font-size: 1em;
    color: inherit;
    text-decoration: none;
    border-radius: 3px;
    transition: all .275s; }
    .talk-links .talk-link:hover, .talk-links .talk-link:focus {
      background: rgba(0, 0, 0, 0.05); }
    .talk-links .talk-link:before {
      vertical-align: middle;
      margin-right: 10px;
      font-size: 1.5em;
      font-weight: normal; }
  .talk-links .talk-link-more {
    margin-left: auto; }

@font-face {
  font-family: 'speekr';
  src: url("../fonts/front/speekr.eot?pguas6");
  src: url("../fonts/front/speekr.eot?pguas6#iefix") format("embedded-opentype"), url("../fonts/front/speekr.ttf?pguas6") format("truetype"), url("../fonts/front/speekr.woff?pguas6") format("woff"), url("../fonts/front/speekr.svg?pguas6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="speekr-icon-"],
[class*=" speekr-icon-"],
.talk-link:before,
.talk-link-more:after {
  font-family: 'speekr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.speekr-icon-link:before,
.talk-link-other:before {
  content: "\e900"; }

.speekr-icon-next-circle:before,
.talk-link-more:after {
  content: "\e901"; }

.speekr-icon-presentation:before,
.talk-link-speakerdeck:before,
.talk-link-slideshare:before,
.talk-link-slides:before {
  content: "\e902"; }

.speekr-icon-video:before,
.talk-link-youtube:before,
.talk-link-vimeo:before,
.talk-link-dailymotion:before {
  content: "\e903"; }

.talk-link-more:after {
  font-size: 1.4em;
  vertical-align: -.125em;
  margin-left: 6px; }
